h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
}
