:root {
  --branding-color: #6c63ff;
  --secondary-color:  #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 9rem;
  line-height: 1.5;
}

h2 {
  font-size: 4.3rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 16rem 2rem;
}

.hero p {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 2.4rem;
}

.content h1 {
  padding: 10rem 2rem;
}

.content-container h1 {
  font-size: 6rem;
  line-height: 8rem;
}

.content h2 {
  font-size: 1.8rem;
  line-height: var(--default-font-family);
}


.content h3 {
 font-size: 2.4rem;
 line-height: 1.5;
 margin: 2rem 0 0;
 font-family: var(--heading-font-family);
}

.content p {
 font-size: 1.4rem;

}

.content {
  margin: 3rem;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 0.4rem;
  color: white;
  font-size: 1.2rem;
  line-height: 2.7rem;
  padding: 1.5rem 3rem;
}

.btn-branding-outline {
  border: 0.1rem solid var(--branding-color);
  border-radius: 0.4rem;
  color: var(--branding-color);
  font-size: 1.2rem;
  line-height: 2.7rem;
  padding: 1.5rem 3rem;
}

.project-description {
  padding: 7rem 4rem ;
}

@media (max-width: 90rem) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4.4rem;
    margin-top: 1.5rem;
  }

  .hero {
  padding: 6rem 2rem;
}

.btn-branding-outline{
  margin-bottom: 2rem;
}

.content {
  text-align: center;
 
}

 .project-description {
  padding: 3rem;
  text-align: center;
} 
}